
.order-items {

    color:rgb(9, 10, 11);
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
      width: 100%;

}
.order-items img {
  width: 150px;
}

.button.primary {
   padding: 1rem 4rem;
}
.btn {
  display: flex;
  justify-content:center;
  align-items: center;
}



