.toggle-cart-show {
  position: absolute;
  right: 1rem;
  top: 8.5rem;
  z-index: 1000;
  display: block;
  background-color: #203040;
 
}

.toggle-cart-hide {
  display: none;
  
 
}

.cart {
  /* z-index: 3000; */
  /* margin-top: 15rem;
  display: flex; */
  padding: 1rem;
  margin: 1rem;
  display: flex;

  
}
.cart-header {
 
}

.cart-total-items {
  margin-left: 10px;
}
.cart-items {
 
  padding-inline-start: 0px;
  width: 100%;
  list-style-type: none;

}
.cart-items img {
  width: 3rem;
}
.cart-items li {
  display: flex;
  left: 0px;
}
.cart-items li div {
  padding-left: 1rem;
}
.cart-items li div:last-child {
  flex: 1;
}
.cart-item-title {
  word-break: break-word;
  width: 150px;
}
.right {
  text-align: right;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
}
.total > div {
  font-size: 2rem;
}
.total > div,
.total > button {
  flex: 1;
}
.cart-proceed-btn {
  float: right;
  margin: 10px;
 
}
.button.primary {
   padding: 1rem 4rem;
}


.cart-proceed-btn {
background-color: white;
color: black;
padding: 5px;
text-decoration: none;
border: 1px solid black;
}
.cart-proceed-btn:hover {
background-color: black;
color: white;

}
