html {
    font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
    box-sizing: border-box;
  }
  body {
     
    height: 100vh;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  

  
  header {
    grid-area: header;
    background-color: #203040;
  }
  main {
    grid-area: main;
    padding: 1rem;
  }
  footer {
    grid-area: footer;
    background-color: #203040;
    color: #ffffff;
  }
  /* Common */
  h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
    text-align-last: center;
  }
  h2 {
    font-size:3rem;
    padding: 1rem 0;
    text-align-last: center;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: #ff8000;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  li {
    margin-top: 1rem;
  }
  input,
  select,
  textarea,
  button 

  {
    padding: 1rem;
    padding-top: 10px;
    margin-top: 20px;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
 
    
  }

  input:hover,
  select:hover,
  textarea:hover,
 

  button{
    background-color: #f0c040;
  }
  /* Header */
  header {
    color: #ffffff;
    padding: 1rem;
  }
  a.brand {
    color: #f7caca;
    font-size: 3rem;
    font-weight: bold;
  }


  form {
    text-align: center;
  }
 
  p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
  }
